.app-container {
  padding: 50px 0;
  background-color: #f0f0f0;
  min-height: 100vh;
  overflow: hidden;
}

.app-title {
  text-align: center;
  margin-bottom: 30px;
  user-select: none;
}

@media (max-width: 768px) {
  .app-title {
    font-size: 1.5rem;
  }
}
